@font-face {
  font-family: 'Author';
  src: url('/fonts/Author-Medium.otf');
  src: url('/fonts/Author-Light.otf');
  src: url('/fonts/Author-Regular.otf');
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/fonts/CabinetGrotesk-Extrabold.otf');
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: 'Cabinet Grotesk';
}

p {
  font-family: 'Author';
  font-weight: 375px;
}

.button {
  font-family: 'Author';
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;